@import "neat/neat-helpers"; // or "neat/neat-helpers" when not in Rails

// Change the grid settings
$column: 5.5em;
$gutter: 1.875em;
$grid-columns: 12;
$max-width: 100%;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);